#about {
  color: white;


  .heading_container {
    margin-bottom: 30px;
  }
  
  .row {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .img-box img {
    max-width: 100%;
  }
  
  .detail-box h3 {
    font-weight: bold;
  }
  
  .detail-box p {
    margin-top: 15px;
  }
  
  .detail-box a {
    display: inline-block;
    padding: 10px 45px;
    background-color: #ef3e00;
    color: #ffffff;
    border-radius: 0px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border: none;
    margin-top: 15px;
  }
  
  .detail-box a:hover {
    background-color: #ef3e00;
  }
  
}