@import 'variables';
@import 'index.style';
@import 'reservation.style';

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
border-radius: 15px;
background-color: slategray;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: $dark;
}

nav.scrolled {
    background: black;
}

.navbar-brand,
.nav-link{
    color: white;
}

.navbar-toggler {
    border-color: $color1;
}

.navbar-toggler-icon {
    background-image: url(
        "data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(220, 220, 22)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

footer {
    img{
        width: $max;
        height: 50px;
    }

    .info { 
        margin-top: 50px;
        color:rgb(226, 216, 216);
        padding: $p-1;
        // border: 1px solid white;
        display: flex;
        justify-content: space-between;
    }
   
    .fa-solid, 
    .fa-brands{
        font-size: 40px;
        color: $color1;
        width: 20px;
        margin: 0 30px 30px 0;
    }
}  